<html>
<head>
    <meta charset="UTF-8"/>
</head>
<body>
<h2>Hello World!</h2>
<div >
    <div>
        <a href="//v.youku.com/v_show/id_XMzQyOTcxOTM0NA==.html" target="_blank">
            <img src="//vthumb.ykimg.com/054101015A967C8E8B324CA6506D7860">
        </a>
        <i class="bg"></i>

    </div>
    <ul class="p-info pos-bottom">
        <li class="status hover-hide">
        <span class="p-time">
          <i class="ibg"></i>
          <span>00:30</span>
        </span>
        </li>
    </ul>
    <ul class="info-list">
        <li class="title">
            <a href="https://v.youku.com/v_show/id_XMzQyOTcxOTM0NA==.html">
                俄罗斯女孩真会玩, 车玻璃好像出卖了她
            </a>
        </li>
        <li >
      <span>
        33.1万次播放
      </span>
        </li>
    </ul>
</div>
<form id="form" action = /login>
    <label for="id">id:</label>
    <input id="id" name="id" type="text">
    <label for="password">password</label>
    <input id="password" name="password" type="password">
    <input type="submit" value="提交">
</form>
</body>
</html>
